
.disabled { cursor: not-allowed !important; }

.btn {
  background: linear-gradient(to bottom right, var(--color-secondary), var(--color-tertiary));
  border: 0;
  border-radius: 1.2rem;
  margin: 1rem;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  &:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  &:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  &:disabled {
    background: gray;
  }
}

.confirm-btn {
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 500;
  padding: 1.1rem 2.8rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  border: none;
  color: #fff;
  background: var(--color-primary);
  transition: all 0.25s ease;
  
  &:hover {
    box-shadow: 0 1rem 2rem -1rem rgba(var(--color-primary-dark), 0.6);
    transform: translateY(-5px);
    background: var(--color-primary-light);
  }
}

.delete-btn {
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 500;
  padding: 1.1rem 2.8rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  border: none;
  color: #fff;
  background: #c00000;
  transition: all 0.25s ease;
  
  &:hover {
    box-shadow: 0 1rem 2rem -1rem rgba(#ff3e4e99, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
}

.cancel-btn {
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  font-weight: 500;
  padding: 1.1rem 2.8rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  border: none;
  color: var(--color-grey-blue-1);
  background: #ececec;
  transition: all 0.25s ease;

  &:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
  }
}
