
.section-toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  justify-content: flex-end;

  background-color: #fff;
  border-bottom: var(--line);  
}

.toolbar__btn {
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  align-self: stretch;
  padding: 1rem 3rem;
  border: none;

  &--create {
    background-color: var(--color-primary);
  }

  &--delete {
    background-color: #c00000;
  }
}