
:root {
  // colors
  --color-primary: #2f6afe;
  --color-primary-light: #6993ff;
  --color-primary-dark: #012ea4;

  --color-secondary: #EF4765;
  --color-secondary-dark: #c41434;
  --color-tertiary: #FF9A5A;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-blue-1: #2c3e50;

  // box-shadows
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light:0 2rem 5rem rgba(0, 0, 0, .06);

  // borders
  --line: 1px solid var(--color-grey-light-2);
}

// responsive breakpoints
$breakpoint-largest: 75em; // 1200px
$breakpoint-large: 68.75em; // 1100px
$breakpoint-medium: 56.25em; // 900px
$breakpoint-small: 37.5em; // 600px
$breakpoint-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before
*::after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem === 10px | 100% === 16px

  @media only screen and (max-width: $breakpoint-large) { font-size: 50%; }
  @media only screen and (max-width: $breakpoint-small) { font-size: 45%; }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)); 
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 100vh;
}

// font-sizes
.fs-12 { font-size: 1.2rem; }
.fs-14 { font-size: 1.4rem; }
.fs-16 { font-size: 1.6rem; }
.fs-18 { font-size: 1.8rem; }
.fs-20 { font-size: 2rem; }
.fs-30 { font-size: 3rem; }
